<!doctype html>
<html>
    <head>
        <!-- head -->

        <!--Charset, Description & Title -->
        <meta charset="utf-8">
        <meta name="description" content="Checklist for all Blade and Soul Dailies in Moonwater Plains and Silverfrost Mountains.">
        <title>Blade and Soul Dailies</title>

        <!-- Mobile Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-title" content="BnS Dailies">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">

        <!-- Favicons -->
        <link rel="icon" type="image/png" href="favicon-16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="favicon-32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="favicon-64.png" sizes="64x64"><!--
        <link rel="icon" type="image/png" href="favicon-256.png" sizes="256x256"> -->

        <!-- iOS Home Screen Icons
        <link rel="apple-touch-icon-precomposed" href="splashscreen-256.png">
        <link rel="apple-touch-icon-precomposed" href="splashscreen-57.png" sizes="57x57">
        <link rel="apple-touch-icon-precomposed" href="splashscreen-72.png" sizes="72x72">
        <link rel="apple-touch-icon-precomposed" href="splashscreen-114.png" sizes="114x114">
        <link rel="apple-touch-icon-precomposed" href="splashscreen-144.png" sizes="144x144"> -->

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href='https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="style.css">

        <!-- Libraries -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script type="text/javascript" src="jquery.stickytableheaders.min.js"></script>
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/1.3.2/jquery.floatThead-slim.min.js"></script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.25.3/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.25.3/js/jquery.tablesorter.widgets.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.25.3/js/widgets/widget-grouping.min.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-64320934-1', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- Underscore Templates -->
        <script type="text/template" id="tpl-table-row">
            <tr class="daily-row<% if(dailyDone) { %> done <% } %>" data-value="<%= dailyValue %>" data-id="<%= dailyId %>">
                <td class="row-done dont-fade"><div class="checkbox"></div></td>
                <td class="row-tags tags"><%= dailyTags %></td>
                <td class="row-name"><%= dailyName %></td>
                <td class="row-location"><%= dailyLocation %></td>
                <td class="row-map"><%= dailyMap %></td>
                <td class="row-gold daily-gold" data-gold="<%= dailyGold %>"><%= dailyGoldRewards %></td>
                <!--<td class="row-misc daily-misc"><%= dailyMiscRewards %></td>-->
            </tr>
        </script>

        <script type="text/template" id="tpl-table">
            <table class="daily-table">
                <thead>
                    <tr>
                        <th class="group-false daily-progress">0 / 40</th>
                        <th class="group-false tags">Tags</th>
                        <th class="group-false">Name</th>
                        <th class="group-text">Location</th>
                        <th class="group-text">Map</th>
                        <th class="group-false">Money Rewards</th>
                        <!--<th class="group-false">Misc Rewards</th>-->
                    </tr>
                </thead>
                <tbody class="daily-table-content">
                    <% $.each(rows, function(key,value) { %>
                        <%= value %>
                    <% }) %>
                </tbody>
            </table>
        </script>

        <script type="text/template" id="tpl-tab"><div data-tabid="<%= tabId %>" data-tabname="<%= tabName %>" class="tab">
            <%=  _.template($('#tpl-tab-inner').html())({
                tabName: tabName
            }) %>
        </div></script>

        <script type="text/template" id="tpl-tab-inner">
            <span class="tab-name"><%= tabName %></span>
            <span class="edit-tab tab-icon"></span>
            <span class="close-tab tab-icon"></span>
        </script>

        <script type="text/template" id="tpl-tab-edit">
            <input value="<%= tabName %>" class="tab-name-edit">
        </script>

        <script type="text/template" id="tpl-time-settings-edit">
            Your local reset time: 
            <select id="localResetTime" class="compact">
                <% for (var i = 0; i <= 23; i++) { %>
                    <option<% if(currentTime == i) {%> selected<%}%> value="<%=i%>"><%=i%>:00</option>
                <% }; %>
            </select>
            (EU: 6:00 UTC - NA: 23:00 UTC) <span id="save-reset-time">save</span> | <span id="detect-reset-time">autodetect</span>
        </script>

        <!-- JavaScript -->
        <script type="text/javascript" src="data.js"></script>
        <script type="text/javascript" src="functions.js"></script>
        <script type="text/javascript" src="scripts.js"></script>

        <!-- head end -->
    </head>
    <body class="js-off">
        <h1 id="title">Blade and Soul Daily List</h1>
        <div id="main-wrapper">
            <div id="notice">If you spot a mistake, please contact me via <a target="_blank" href="mailto:hi@keeky.net">Mail</a> or <a target="_blank" href="http://reddit.com/u/InD1g0">Reddit</a> so I can fix it.</div>
            <div id="ad">
                <div id="ad-headline">Advertisement</div>
                <div id="ad-content">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Apps Responsive -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2012219604925664"
                         data-ad-slot="4985282435"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <table id="settings">
                <tr>
                    <td id="premium-settings">Your Premium Rank:
                        <select id="premium-modifier">
                            <option value="1">No premium</option>
                            <option value="1.1">Rank 1 - 3</option>
                            <option value="1.2">Rank 4 - 8</option>
                            <option value="1.3">Rank 9 or 10</option>
                        </select>
                    </td>
                    <td id="faction-settings">Your Faction:
                        <select id="faction">
                            <option value="false">Please select</option>
                            <option value="cerulean">Cerulean Order</option>
                            <option value="crimson">Crimson Legion</option>
                        </select>
                    </td>
                    <td id="region-settings">Your Region:
                        <select id="reset-hour">
                            <option value="not set">Please select</option>
                            <option value="6">Europe</option>
                            <option value="12">North America</option>
                        </select>
                    </td>
                    <td>
                        <a class="donate-button paypal" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WZN8QVKRE88KY"></a>
                        <a class="donate-button bitcoin" href="bitcoin:36Xi294dSZCphBU7uNNTXNoAB1jMd1GYpr"></a>
                    </td>
                </tr>
            </table>
            <div id="tab-wrapper">
                <div id="tabs"></div>
                <div id="add-tab">+</div>
            </div>
            <div id="dailies">
                <div id="time-settings">
                    <span class="time-wrappers" id="current-time-wrapper">Local time: <span id="current-time">calculating</span></span> -
                    <span class="time-wrappers" id="daily-reset-wrapper">Daily reset: <span id="daily-reset">calculating</span> <span id="edit-time" class="link">change</span></span>
                    <div id="time-settings-edit"></div>
                </div>
                <table id="display-settings">
                    <tr>
                        <td>
                            <div id="tag-toggle" class="inline label"><div class="checkbox inline checked"></div>Show tags</div><br>
                            <div id="continent-toggle" class="inline label"><div class="checkbox inline checked"></div>Show continent icons</div><br>
                            <div id="night-toggle" class="inline label"><div class="checkbox inline"></div>Night mode</div>
                        </td>
                        <td id="display-density-wrapper">
                            <div class="display-density">
                                <div class="density-select comfortable" data-value="cozy"></div>
                                <div class="density-select compact" data-value="dense"></div>
                            </div>
                        </td>
                </table>
                <div id="table-wrapper"></div>
            </div>
        </div>
        <div id="fixed-information">
            <div id="total-value" class="inline">Total earnings: </div><!--  - 
            resetHour: <span class="d" data-d="resetHour"></span> - 
            resetTime: <span class="d" data-d="resetTime"></span> -  -->
        </div>
        <footer>
            <div id="dump"></div>
            <span class="version"></span>
            <span class="debug-dump link">Debug dump</span>
            <span class="reset-settings link">Reset local data</span>
        </footer>
    </body>
</html>
