@import framework

$grey: darken(#B6C2C9, 5%)
$greyLight: #F6F7F8
$greyHover: #81939E
$blue: #00A7F6

html
    background-color: #EDF1F2
    font-family: "Exo 2"
    -webkit-text-size-adjust: 100%

    +notMobile

        &[data-density='dense']
            #main-wrapper #dailies .daily-table td
                padding: 10px

            #main-wrapper #dailies #display-settings .display-density .density-select.compact
                background-color: $greyHover

        &[data-density='cozy']
            #main-wrapper #dailies .daily-table td
                padding: 20px 10px

            #main-wrapper #dailies #display-settings .display-density .density-select.comfortable
                background-color: $greyHover

    &.hide-tags .tags
        display: none

select
    background: $grey url('dropdown-arrow-down.png') no-repeat right 10px center / 16px
    color: #FFF
    border: none
    padding: 6px 24px 6px 4px
    border-radius: 4px
    margin: 0 4px
    +vendorize(appearance, none)
    text-indent: 0.01px
    text-overflow: ''
    display: inline-block

    &.compact
        padding: 0 24px 0 4px

    +mobile
        display: block
        width: 100%
        margin: 10px 0

    &:hover
        background-color: $greyHover

    option
        +vendorize(appearance, none)
        border: none
        padding: 5px
        background-color: #FFF
        color: $greyHover

.inline
    display: inline-block

%checkboxChecked
    background: $blue url('check.png') no-repeat center center
    background-size: 10px
    border-color: $blue
    opacity: 1

    &:hover
        background-color: darken($blue, 5%)
        border-color: darken($blue, 5%)

.label
    color: $greyHover
    font-size: 16px
    margin: 0 6px
    cursor: pointer

    &:hover .checkbox
        cursor: default
        background-color: $greyHover

    &:hover .checkbox.checked,  .checkbox.checked
        @extend %checkboxChecked

.checkbox
    +size(16px)
    border: 1px solid $greyHover
    background-color: $grey
    margin: 0 6px
    
    &:hover
        cursor: default
        background-color: $greyHover

.currency
    background: center right no-repeat
    background-size: 16px
    padding: 2px 18px 2px 4px
    display: inline-block


    &.gold
        background-image: url('gold.png')

    &.silver
        background-image: url('silver.png')

    &.copper
        background-image: url('copper.png')

#title
    font-size: 28px
    text-align: center
    color: $grey
    font-weight: 300
    text-align: center
    margin: 30px 0 10px 0

#main-wrapper
    max-width: 1100px
    margin: 50px auto

    #settings
        margin-bottom: 12px
        white-space: nowrap
        width: 100%

        +mobile
            td
                padding: 10px
                display: block

        #premium-settings, #faction-settings
            color: #506470
            padding-left: 8px

        #time-settings
            font-size: 12px
            color: $greyHover
            text-align: right
            width: 100%

            #time-settings-edit
                margin-top: 20px
                display: none

                #save-reset-time, #detect-reset-time
                    color: $blue
                    cursor: pointer

                    &:hover
                        text-decoration: underline

            +mobile
                text-align: left
                line-height: 18px

                .time-wrappers
                    display: block

            #edit-time
                color: $blue
                padding-right: 8px
                display: none

                &:hover
                    text-decoration: underline
                    cursor: pointer

    #dailies
        background-color: #FFF
        padding: 30px 40px 40px 40px
        border-radius: 5px
        width: 100%

        +mobile
            padding: 0

        #display-settings
            text-align: right
            margin-bottom: 20px

            +mobile
                display: none

            .display-density
                background-color: $greyHover
                display: inline-block
                border-radius: 4px
                height: 30px

                .density-select
                    background: $grey center center no-repeat
                    background-size: 24px
                    +size(30px)
                    display: inline-block
                    border-radius: 4px

                    &:hover
                        background-color: darken($grey, 5%)
                        cursor: pointer

                    &.compact
                        background-image: url('view-dense.png')

                    &.comfortable
                        background-image: url('view-comfortable.png')

        .daily-table
            width: 100%
    
            .tableFloatingHeaderOriginal tr
                border-bottom: 2px solid $greyLight

            .daily-progress
                width: 60px

                &.warning
                    font-weight: 600
                    color: #c0392b

            thead
                +mobile
                    display: none

                tr
                    border-bottom: 2px solid $greyLight

            th
                color: #506470
                text-transform: uppercase
                font-size: 10px
                text-align: left
                padding: 15px 20px 15px 10px
                font-weight: 600
                background: #FFF no-repeat right 6px center
                background-size: 10px
                white-space: nowrap
                border-right: 2px solid $greyLight

                &:last-child
                    border-right: none

                &:hover
                    cursor: pointer
                    background-color: $greyLight

                &.tablesorter-headerAsc
                    background-image: url('dropdown-arrow-up-grey.png')

                &.tablesorter-headerDesc
                    background-image: url('dropdown-arrow-down-grey.png')

            =before
                float: left
                padding-right: 10px

            td
                +vendorize(transition, all 200ms ease)
                color: #81939E
                font-size: 12px
                padding: 20px 10px
                vertical-align: middle
                white-space: nowrap

                +mobile
                    padding: 15px

                    &:before
                        min-width: 100px

                    &.row-done
                        display: none

                    &.row-tags
                        padding: 25px 15px 10px 15px
                        display: block

                    &.row-name
                        padding: 5px 15px
                        display: block
                        line-height: 16px
                        +vendorize(text-overflow, ellipsis)
                        overflow: hidden

                        &:before
                            +before
                            height: 20px
                            content: 'Quest Name: '

                    &.row-location
                        padding: 5px 15px 0 15px
                        display: block

                        &:before
                            +before
                            content: 'Location: '

                        &:after
                            content: ', '

                    &.row-map
                        padding: 2px 15px 0 15px
                        display: block

                        &:before
                            +before
                            display: block
                            content: '\00a0'

                    &.row-gold
                        padding: 15px 15px 0 15px
                        display: block

                        &:before
                            +before
                            content: 'Money: '

                    &.row-misc
                        padding: 10px 15px 15px 15px
                        display: block

                        &:before
                            +before
                            content: 'Other rewards: '

                .tag
                    background-color: $grey
                    padding: 3px 6px
                    color: #FFF
                    border-radius: 3px
                    margin-right: 5px

                    &.boss
                        background-color: #c0392b

                    &.pvp
                        background-color: #d35400

                    &.open.world
                        background-color: #1abc9c

                    &.dungeon
                        background-color: #f1c40f

                    &.faction
                        background-color: #9b59b6

            tbody
                tr
                    border-top: 2px solid $greyLight

                    +mobile
                        &:first-child
                            border-top: none

                    &.group-header
                        td
                            background: url('dropdown-arrow-down-grey.png') no-repeat left 10px center
                            background-size: 14px
                            padding: 10px 10px 10px 30px
                            text-transform: uppercase
                            font-size: 12px
                            font-weight: 500

                        &.collapsed
                            td
                                background-image: url('dropdown-arrow-left-grey.png')

                    &.group-hidden
                        display: none

                    &.done

                        td:not(.dont-fade)
                            opacity: 0.2

                        .checkbox
                            @extend %checkboxChecked

                    &:hover
                        background-color: $greyLight
                        cursor: pointer

            .difficulty

                &-normal
                    color: #2ecc71

                &-challenging
                    color: #38BFE1

                &-heroic
                    color: #A237FF

        #total-value
            text-align: right
            color: $grey
            font-size: 14px
            margin: 10px
            height: 18px

footer
    color: $grey
    padding: 10px
    font-size: 14px
    max-width: 100%

    .debug-dump
        color: $blue
        cursor: pointer
        font-size: 12px
        margin-left: 10px

        &:hover
            text-decoration: underline

    #dump
        display: none
        color: $greyHover
        padding: 20px
        line-height: 16px
        font-size: 12px
        border: 1px solid $grey
        margin: 10px 0
        background-color: #FFF
        word-wrap: break-word