*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #EFEFEF;
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

.podcast:hover {
  color: #900; }

#audioplayer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  border-top: 1px solid #CCC;
  padding: 20px 0; }
  #audioplayer #jp_container_1 {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; }
  #audioplayer .volume-wrapper {
    position: relative; }
    #audioplayer .volume-wrapper .volume-bar-wrapper {
      position: absolute;
      bottom: 30px;
      left: -5px;
      width: 50px;
      height: 0px;
      text-align: center;
      transition: all 500ms ease; }
    #audioplayer .volume-wrapper .jp-volume-slider {
      position: relative;
      width: 6px;
      height: 100%;
      background-color: #CCC;
      margin: 0 auto; }
      #audioplayer .volume-wrapper .jp-volume-slider .ui-slider-range {
        background-color: #1893B2;
        width: 6px;
        position: absolute;
        bottom: 0; }
      #audioplayer .volume-wrapper .jp-volume-slider .ui-slider-handle {
        background-color: #FF217C;
        width: 0;
        height: 0;
        border-radius: 2em;
        position: absolute;
        left: -2px;
        margin-bottom: -4px; }
  #audioplayer .volume-wrapper:hover .volume-bar-wrapper {
    height: 100px; }
    #audioplayer .volume-wrapper:hover .volume-bar-wrapper .ui-slider-handle {
      width: 10px;
      height: 10px; }
  #audioplayer .jp-progress-wrapper {
    width: 100%; }
    #audioplayer .jp-progress-wrapper .jp-progress-slider {
      width: 100%;
      height: 6px;
      background-color: #CCC;
      position: relative;
      border-radius: 2em;
      cursor: pointer; }
      #audioplayer .jp-progress-wrapper .jp-progress-slider .ui-slider-range {
        border-radius: 2em;
        height: 6px;
        background-color: #1893B2; }
      #audioplayer .jp-progress-wrapper .jp-progress-slider .ui-slider-handle {
        height: 16px;
        width: 16px;
        position: absolute;
        top: -5px;
        cursor: pointer;
        border-radius: 2em;
        background-color: #FF217C;
        margin-left: -8px; }
  @media only screen and (max-width: 750px) {
    #audioplayer .jp-type-single .jp-progress.desktop-progress {
      display: none; } }
  #audioplayer .player-block {
    display: inline-block;
    vertical-align: middle; }
  #audioplayer .player-wrapper {
    display: table;
    margin: 0 auto; }
    #audioplayer .player-wrapper > .player-block {
      display: table-cell;
      padding-top: 10px;
      white-space: nowrap; }
  #audioplayer .time {
    margin: 0 10px;
    font-size: 12px;
    color: #999;
    width: 50px; }
  #audioplayer .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: no-repeat center center / cover;
    border: none;
    opacity: .8;
    margin: 0 10px;
    cursor: pointer; }
    #audioplayer .icon.noclick {
      cursor: auto;
      opacity: 1; }
    #audioplayer .icon:hover {
      opacity: 1; }
    #audioplayer .icon.jp-play {
      background-image: url("img/play-icon-64-red.png"); }
    #audioplayer .icon.jp-pause {
      background-image: url("img/pause-icon-64.png"); }
    #audioplayer .icon.jp-previous {
      background-image: url("img/previous-icon-64.png"); }
    #audioplayer .icon.jp-loading {
      background-image: url("img/load-icon-64-grey.png"); }
    #audioplayer .icon.jp-next {
      background-image: url("img/next-icon-64.png"); }
    #audioplayer .icon.shuffle {
      background-image: url("img/shuffle-icon-64.png"); }
    #audioplayer .icon.jp-repeat {
      background-image: url("img/repeat-icon-64.png"); }
    #audioplayer .icon.jp-mute {
      background-image: url("img/volume-icon-64.png"); }
    #audioplayer .icon.jp-unmute {
      background-image: url("img/unmute-icon-64.png"); }

.jp-state-shuffled #audioplayer .shuffle.icon {
  background-image: url("img/shuffle-icon-64-blue.png"); }

.jp-state-looped #audioplayer .jp-repeat.icon {
  background-image: url("img/repeat-icon-64-blue.png"); }

.jp-playlist {
  background-color: #FFF;
  margin-bottom: 120px; }
  .jp-playlist li {
    line-height: 0;
    counter-increment: id; }
    .jp-playlist li .jp-playlist-item {
      border-bottom: 1px solid #E8E8E8;
      line-height: 16px; }
    .jp-playlist li:last-of-type .jp-playlist-item {
      border-bottom: none; }

#audioplayer .player-wrapper > .desktop-only.player-block {
  display: table-cell; }
  @media only screen and (max-width: 750px) {
    #audioplayer .player-wrapper > .desktop-only.player-block {
      display: none; } }

#audioplayer .player-wrapper > .mobile-only.player-block {
  display: none; }
  @media only screen and (max-width: 750px) {
    #audioplayer .player-wrapper > .mobile-only.player-block {
      display: table-cell; } }

#audioplayer .mobile-only .time {
  margin: 0 20px; }
#audioplayer .mobile-only.jp-progress-wrapper .jp-progress-slider {
  height: 12px; }
  #audioplayer .mobile-only.jp-progress-wrapper .jp-progress-slider .ui-slider-range {
    height: 12px; }
  #audioplayer .mobile-only.jp-progress-wrapper .jp-progress-slider .ui-slider-handle {
    height: 26px;
    width: 26px;
    position: absolute;
    top: -7px;
    margin-left: -16px; }

#loading {
  width: 26px;
  height: 26px;
  display: none;
  margin: 0 auto; }
  #loading .jp-loading {
    position: relative;
    bottom: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite; }

.jp-state-playing.jp-state-seeking #loading {
  display: block; }
.jp-state-playing.jp-state-seeking .jp-title {
  display: none; }

.jp-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  color: #999;
  text-align: center;
  height: 26px; }

@media only screen and (max-width: 750px) {
  .details {
    margin-top: 10px; } }
#preload {
  display: none; }

.jp-playlist-item {
  color: #333;
  text-decoration: none;
  padding: 15px 30px 15px 15px;
  display: inline-block;
  width: 100%;
  transition: all 100ms ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .jp-playlist-item:before {
    content: counter(id);
    padding-right: 15px;
    color: #999; }
  .jp-playlist-item:hover {
    background-color: #FAFAFA;
    color: #1893B2; }
  .jp-playlist-item.jp-playlist-current {
    color: #FF217C;
    transition: none;
    background-color: #E5F4FC; }
    .jp-playlist-item.jp-playlist-current:before {
      color: transparent;
      background: url("img/play-icon-64-red.png") no-repeat left center/12px; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

/*# sourceMappingURL=style.css.map */
